MILP-Struct/input/benchmarks/
!MILP-Struct/input/

MILP-Struct/output

# File endings
*.png
MILP-Struct/*.png
*.class

workspace.xml
MILP-Struct/graphs/*
MILP-Struct/logs/*
MILP-Struct/out/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*