TreeTorsoWidth/input/benchmarks/
!TreeTorsoWidth/input/
!TreeTorsoWidth/

libtw/
!TreeTorsoWidth/src/libtw/
libtw-master/*
!libtw-master/libtw/src/nl/uu/cs/treewidth/algorithm/GreedyDegree.java
TreeTorsoWidth/out/production

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
TreeTorsoWidth/.idea/workspace.xml
